* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* ------NABVAR DESIGN START------ */
.continear {
  width: 90%;
  margin: auto;
}

.nabvar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nabvar h1 {
  font-size: 24px;
}

.nabvar-button {
  display: flex;
}

.nabvar-button li {
  list-style: none;
  margin: 0px 10px;
}
.nabvar-button li a {
  text-decoration: none;
  color: black;
}
/* ------NABVAR DESIGN END------ */

/* -----CAMERA SECTION START----- */
.camera-section {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.camera-section h1 {
  font-size: 52px;
  line-height: 70px;
}

.camera-section p {
  font-size: 16px;
  line-height: 24px;
}
/* button */
.btn {
  color: #ffffff;
  background-color: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px 10px 24px;
  overflow: hidden;
  outline: none;
  border: none;
  margin-top: 16px;
  transition: 0.5s;
}

.btn:hover {
  box-shadow: -4px -3px 5px rgba(128, 128, 128, 0.384);
  transform: scale(1.05);
}
/* -----CAMERA SECTION END----- */

/* ----------COMPANY LOGOS START---- */
.company-logos {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  border-top: 1px solid rgba(128, 128, 128, 0.315);
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}

/* ------POPULAR COLLECTION SECTION START----- */
.Popular-collection {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.Popular-collection > h1 {
  text-align: center;
  margin-bottom: 30px;
}

.Popular-collection p {
  font-size: 14px;
}

.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
  background-color: whitesmoke;
}

.product {
  padding: 10px;
  background-color: white;
  margin: 10px 20px;
}
.product img {
  border-radius: 5px;
  background-color: purple;
}

.fill {
  margin-top: 10px;
  color: #fb8200;
  font-size: 0.8rem;
}

.empty {
  color: #fb8200;
  font-size: 0.8rem;
}

.Popular-collection #see-more {
  text-align: right;
}

.Popular-collection #see-more a {
  text-decoration: none;
  color: #e02c6dde;
}

/* ---------FAQ SECTION-------- */
.faqs {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50px;
  background-color: rgba(245, 245, 245, 0.986);
  padding: 10px;
}

.faqs > h1 {
  text-align: center;
}

.faq .faq-btn {
  float: right;
}
.faq {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: lightgray;
  transition: 0.5s;
}

.faq:hover {
  transform: scale(1.01);
}

/* ---footer design---- */
.footer {
  height: 239px;
  background-color: #0a0826;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.copyright-warning p {
  text-align: center;
}

.footer-social-link ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.footer-social-link li {
  list-style: none;
  padding: 10px;
}

.footer-social-link li a .fab {
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.158);
  font-size: 1.5rem;
  padding: 10px;
  color: rgba(255, 255, 255, 0.945);
  transition: 0.5s;
}

.footer-social-link li a .footer-link:hover {
  transform: rotate(60deg);
  transform: scale(1.1);
  background: none;
}
